<a href="https://colab.research.google.com/github/ousseeema/data-science/blob/main/projet_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#imporation de pandas , numpy, matplotlib,seaborn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# read the files
data = pd.read_excel("imap_export.xls")
#project the dataframe
data

,Data Export - Filters applied: (none) Data As Of Aug 2024,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Factory Name,Factory Type,Product Type Type,"Nike, Inc. Brand(s)",Events,Supplier Group,Address,City,State,Postal Code,Country / Region,Region,Total Workers,Line Workers,% Female Workers,% Migrant Workers
1,EVEREST TEXTILE CO LTD,MATERIALS,Apparel,Nike,NaN,EVEREST TEXTILE,No 256 Minghe Village,Tainan City,Tainan,743002,Taiwan,N ASIA,1439,811,51,57
2,Big Game Sports,FINISHED GOODS,Equipment,Nike,Collegiate,BIG GAME SPORTS,13835 Welch Rd,Dallas,Texas,75244,USA,AMERICAS,68,51,36,0
3,PT Semarang Garment,FINISHED GOODS,Apparel,Nike,NaN,KUKDONG,JL Soekarno Hatta Km 25,Semarang,Jawa Tengah,50552,Indonesia,S ASIA,3851,3462,94,0
4,Charmgo (Cambodia) Co. Ltd,FINISHED GOODS,Apparel,Nike,NaN,CHARMGO,Pham Bostanei Kuhn Kaheing Srok Samrongtong Ka...,Kampong Spey,Kampong Spueu,05207,Cambodia,SE ASIA,1557,1526,71,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,PT Victory Chingluh Indonesia,FINISHED GOODS,Footwear,Nike,NaN,CHING LUH,JL Raya Pasarkemis Rajeg,Tangerang,Banten,15560,Indonesia,S ASIA,4014,3475,55,0
633,"Olive Apparel (Cambodia) Co., Ltd.",FINISHED GOODS,Apparel,Nike,NaN,RAMATEX,National Road No 3 Phum Prey Kambot,Phnom Penh,Phnom Penh,120910,Cambodia,SE ASIA,1274,1107,89,0
634,PT. Kanindo Makmur Jaya,FINISHED GOODS,Equipment,Nike,Collegiate,KANAAN,Jalan Raya Jepara Kudus,Jepara,Jawa Tengah,59462,Indonesia,S ASIA,6680,6582,62,0
635,South Island Garment Sdn Bhd,FINISHED GOODS,Apparel,Nike,Collegiate,SOUTH ISLAND,2468 Solok Perusahaan Dua,Perai,Pulau Pinang,13600,Malaysia,S ASIA,621,344,53,82
636,"Toyama Sports Goods Co., Ltd.",FINISHED GOODS,Equipment,Nike,NaN,TOYAMA SPORTS,345 Fukumitsu,Nanto,Toyama,939-1637,Japan,N ASIA,3,2,0,0

In [3]:
# We noticed that the column names are in the first row, so we reset the format by assigning the first row as column names.
# Then, we removed the first row (which contained the column names) from the data and reset the index.
data.columns=["Factory Name","Factory Type","Product Type","Brand","Events","Supplier Group","Address","City","State","Postal Code","Country","Region","Total Workers","Line Workers","Female Workers","Migrant Workers"]
data = data.iloc[1:]
data= data.reset_index(drop=True)
data.head()

,Factory Name,Factory Type,Product Type,Brand,Events,Supplier Group,Address,City,State,Postal Code,Country,Region,Total Workers,Line Workers,Female Workers,Migrant Workers
0,EVEREST TEXTILE CO LTD,MATERIALS,Apparel,Nike,NaN,EVEREST TEXTILE,No 256 Minghe Village,Tainan City,Tainan,743002,Taiwan,N ASIA,1439,811,51,57
1,Big Game Sports,FINISHED GOODS,Equipment,Nike,Collegiate,BIG GAME SPORTS,13835 Welch Rd,Dallas,Texas,75244,USA,AMERICAS,68,51,36,0
2,PT Semarang Garment,FINISHED GOODS,Apparel,Nike,NaN,KUKDONG,JL Soekarno Hatta Km 25,Semarang,Jawa Tengah,50552,Indonesia,S ASIA,3851,3462,94,0
3,Charmgo (Cambodia) Co. Ltd,FINISHED GOODS,Apparel,Nike,NaN,CHARMGO,Pham Bostanei Kuhn Kaheing Srok Samrongtong Ka...,Kampong Spey,Kampong Spueu,05207,Cambodia,SE ASIA,1557,1526,71,1
4,SAN FANG (TR1) (CHINA),MATERIALS,Footwear,Nike,NaN,SAN FANG,YUE YUEN INDUSTRIAL PARK,"DONGGUAN, GUANGDONG",Guangdong,511700,China,N ASIA,307,225,20,0

In [4]:
#info of data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Factory Name     636 non-null    object
 1   Factory Type     636 non-null    object
 2   Product Type     636 non-null    object
 3   Brand            636 non-null    object
 4   Events           148 non-null    object
 5   Supplier Group   636 non-null    object
 6   Address          636 non-null    object
 7   City             635 non-null    object
 8   State            636 non-null    object
 9   Postal Code      636 non-null    object
 10  Country          636 non-null    object
 11  Region           636 non-null    object
 12  Total Workers    636 non-null    object
 13  Line Workers     636 non-null    object
 14  Female Workers   636 non-null    object
 15  Migrant Workers  636 non-null    object
dtypes: object(16)
memory usage: 79.6+ KB

In [5]:
#Delete unnecessary columns,Replace NaN values with a specific value
data.fillna({'Events':"Collegiate"}, inplace= True)
data.drop(["Address","Postal Code"], axis=1, inplace= True)
data.head()

,Factory Name,Factory Type,Product Type,Brand,Events,Supplier Group,City,State,Country,Region,Total Workers,Line Workers,Female Workers,Migrant Workers
0,EVEREST TEXTILE CO LTD,MATERIALS,Apparel,Nike,Collegiate,EVEREST TEXTILE,Tainan City,Tainan,Taiwan,N ASIA,1439,811,51,57
1,Big Game Sports,FINISHED GOODS,Equipment,Nike,Collegiate,BIG GAME SPORTS,Dallas,Texas,USA,AMERICAS,68,51,36,0
2,PT Semarang Garment,FINISHED GOODS,Apparel,Nike,Collegiate,KUKDONG,Semarang,Jawa Tengah,Indonesia,S ASIA,3851,3462,94,0
3,Charmgo (Cambodia) Co. Ltd,FINISHED GOODS,Apparel,Nike,Collegiate,CHARMGO,Kampong Spey,Kampong Spueu,Cambodia,SE ASIA,1557,1526,71,1
4,SAN FANG (TR1) (CHINA),MATERIALS,Footwear,Nike,Collegiate,SAN FANG,"DONGGUAN, GUANGDONG",Guangdong,China,N ASIA,307,225,20,0

In [6]:
# Adding a column that contains the number of male workers and the total number of workers excluding immigrants.
data["Male Workers"]= data["Total Workers"] - data["Female Workers"]
data["Total Workers excluding immigrants"]= data["Total Workers"] - data["Migrant Workers"]
data.head()

,Factory Name,Factory Type,Product Type,Brand,Events,Supplier Group,City,State,Country,Region,Total Workers,Line Workers,Female Workers,Migrant Workers,Male Workers,Total Workers excluding immigrants
0,EVEREST TEXTILE CO LTD,MATERIALS,Apparel,Nike,Collegiate,EVEREST TEXTILE,Tainan City,Tainan,Taiwan,N ASIA,1439,811,51,57,1388,1382
1,Big Game Sports,FINISHED GOODS,Equipment,Nike,Collegiate,BIG GAME SPORTS,Dallas,Texas,USA,AMERICAS,68,51,36,0,32,68
2,PT Semarang Garment,FINISHED GOODS,Apparel,Nike,Collegiate,KUKDONG,Semarang,Jawa Tengah,Indonesia,S ASIA,3851,3462,94,0,3757,3851
3,Charmgo (Cambodia) Co. Ltd,FINISHED GOODS,Apparel,Nike,Collegiate,CHARMGO,Kampong Spey,Kampong Spueu,Cambodia,SE ASIA,1557,1526,71,1,1486,1556
4,SAN FANG (TR1) (CHINA),MATERIALS,Footwear,Nike,Collegiate,SAN FANG,"DONGGUAN, GUANGDONG",Guangdong,China,N ASIA,307,225,20,0,287,307

In [25]:
# how many type of factory we have
res= data['Factory Type'].nunique()
print('We have ', res ,"type of factory ")
# how many factory we have in each factory type
res1= data['Factory Type'].value_counts()
print("In each type we have :")
res1

We have  3 type of factory
In each type we have :

Factory Type
FINISHED GOODS                 461
MATERIALS                      126
FINISHED GOODS - COMPONENTS     49
Name: count, dtype: int64

In [27]:
#how manay type of product we have
res2= data['Product Type'].nunique()
print('We have ', res2 ,"type of product ")
#how many factory we have in each product type
res3 = data["Product Type"].value_counts()
print("In each type we have :")
res3

We have  3 type of product
In each type we have :

Product Type
Apparel      354
Footwear     208
Equipment     74
Name: count, dtype: int64

In [28]:
#how many brand we have
res4= data['Brand'].nunique()
print('We have ', res4 ,"brand ")
#how many factory we have in each brand
res5 = data["Brand"].value_counts()
print("In each brand we have :")
res5

We have  2 brand
In each brand we have :

Brand
Nike        602
Converse     34
Name: count, dtype: int64

In [32]:
# how many country we have
print(data["Country"].unique())
# how many factory in each country
res6 = data["Country"].value_counts()
print("In each country we have :")
res6

['Taiwan' 'USA' 'Indonesia' 'Cambodia' 'China' 'Vietnam' 'Thailand'
 'Italy' 'South Korea' 'Pakistan' 'Bosnia' 'Brazil' 'Jordan' 'Egypt'
 'India' 'Japan' 'Sri Lanka' 'Argentina' 'Mexico' 'Guatemala'
 'Philippines' 'Georgia' 'Honduras' 'El Salvador' 'Turkey' 'Moldova'
 'Malaysia' 'South Africa' 'Spain' 'Nicaragua' 'France' 'Canada'
 'United Kingdom' 'Netherlands' 'Lithuania' 'Israel']
In each country we have :

Country
Vietnam           159
China             152
Indonesia          54
Taiwan             32
Thailand           29
USA                25
Cambodia           22
Sri Lanka          22
South Korea        18
Brazil             14
Italy              13
India              12
Japan               9
Mexico              8
Egypt               8
Argentina           7
Turkey              6
El Salvador         6
Malaysia            5
Pakistan            5
Guatemala           5
Jordan              5
Georgia             3
Honduras            3
Moldova             2
Philippines         2
Bosnia              1
South Africa        1
Spain               1
Nicaragua           1
France              1
Canada              1
United Kingdom      1
Netherlands         1
Lithuania           1
Israel              1
Name: count, dtype: int64

In [37]:
#how many region we have
res7 = data['Region'].unique()
print(" in matter of region , we have  ", res7)
# how many factory in each region
res8 = data["Region"].value_counts()
print("In each region we have :")
res8

 in matter of region , we have   ['N ASIA' 'AMERICAS' 'S ASIA' 'SE ASIA' 'EMEA']
In each region we have :

Region
N ASIA      213
SE ASIA     210
S ASIA       98
AMERICAS     70
EMEA         45
Name: count, dtype: int64

In [40]:
data.head()

,Factory Name,Factory Type,Product Type,Brand,Events,Supplier Group,City,State,Country,Region,Total Workers,Line Workers,Female Workers,Migrant Workers,Male Workers,Total Workers excluding immigrants
0,EVEREST TEXTILE CO LTD,MATERIALS,Apparel,Nike,Collegiate,EVEREST TEXTILE,Tainan City,Tainan,Taiwan,N ASIA,1439,811,51,57,1388,1382

In [54]:
# how many total workers in details (each country)
res9 = data.groupby("Country").agg({"Total Workers": "sum", "Line Workers": "sum", "Female Workers":"sum",  "Male Workers":"sum","Migrant Workers":"sum","Total Workers excluding immigrants":"sum"  })
res9

,Total Workers,Line Workers,Female Workers,Male Workers,Migrant Workers,Total Workers excluding immigrants
Country,,,,,,
Argentina,1658,1328,400,1258,73,1585
Bosnia,1998,1835,71,1927,0,1998
Brazil,20449,15687,874,19575,85,20364
Cambodia,56259,48840,1551,54708,53,56206
Canada,255,200,80,175,5,250
China,135863,109267,9415,126448,413,135450
Egypt,14091,10642,379,13712,15,14076
El Salvador,7127,5842,252,6875,1,7126
France,13,9,62,-49,100,-87
Georgia,4150,3815,285,3865,0,4150
Guatemala,5282,4908,292,4990,0,5282
Honduras,8295,6633,110,8185,1,8294
India,43246,38866,643,42603,0,43246
Indonesia,284480,248728,3500,280980,82,284398
Israel,205,13,60,145,0,205
Italy,1594,1133,877,717,87,1507
Japan,2067,1716,414,1653,96,1971
Jordan,7202,6280,364,6838,354,6848
Lithuania,310,258,91,219,2,308
Malaysia,7334,6487,164,7170,429,6905
Mexico,6307,5111,421,5886,0,6307
Moldova,1062,850,192,870,0,1062
Netherlands,31,23,42,-11,61,-30
Nicaragua,4634,4317,57,4577,0,4634
Pakistan,48495,44642,61,48434,0,48495
Philippines,2335,1481,84,2251,0,2335
South Africa,195,187,90,105,0,195
South Korea,3043,1187,411,2632,114,2929
Spain,16,13,50,-34,0,16
Sri Lanka,36769,29401,1158,35611,2,36767
Taiwan,12209,6169,1477,10732,815,11394
Thailand,25761,21331,1795,23966,1088,24673
Turkey,5564,3404,362,5202,0,5564
USA,3591,2823,1652,1939,37,3554
United Kingdom,90,90,60,30,0,90
Vietnam,494587,430654,10191,484396,305,494282

In [60]:
# the maximum  workers in details (each country)
res10 = data.groupby("Country").agg({"Total Workers": "max", "Line Workers": "max", "Female Workers":"max",  "Male Workers":"max","Migrant Workers":"max","Total Workers excluding immigrants":"max"  })
res10

,Total Workers,Line Workers,Female Workers,Male Workers,Migrant Workers,Total Workers excluding immigrants
Country,,,,,,
Argentina,810,700,80,765,60,750
Bosnia,1998,1835,71,1927,0,1998
Brazil,5554,5084,88,5501,76,5554
Cambodia,17415,15944,95,17327,26,17412
Canada,255,200,80,175,5,250
China,11136,9039,100,11047,100,11136
Egypt,3925,3030,83,3896,11,3914
El Salvador,2643,2041,68,2575,1,2643
France,13,9,62,-49,100,-87
Georgia,1542,1414,97,1446,0,1542
Guatemala,3422,3091,63,3359,0,3422
Honduras,5413,3901,54,5359,1,5413
India,6900,6500,91,6820,0,6900
Indonesia,27904,24373,100,27817,25,27904
Israel,205,13,60,145,0,205
Italy,384,241,93,342,31,381
Japan,1700,1400,92,1660,47,1700
Jordan,1853,1682,87,1784,96,1775
Lithuania,310,258,91,219,2,308
Malaysia,3678,3301,53,3663,99,3607
Mexico,2088,1790,79,2035,0,2088
Moldova,670,537,97,573,0,670
Netherlands,31,23,42,-11,61,-30
Nicaragua,4634,4317,57,4577,0,4634
Pakistan,20031,19474,18,20013,0,20031
Philippines,2151,1329,44,2111,0,2151
South Africa,195,187,90,105,0,195
South Korea,983,315,63,931,33,983
Spain,16,13,50,-34,0,16
Sri Lanka,5552,4782,100,5469,2,5552
Taiwan,1875,1442,100,1830,70,1875
Thailand,3293,3207,79,3221,100,3293
Turkey,3671,2122,88,3618,0,3671
USA,512,417,95,447,25,512
United Kingdom,90,90,60,30,0,90
Vietnam,29272,25978,98,29195,100,29272

In [61]:
# the minimum workers in details (each country)
res11 = data.groupby("Country").agg({"Total Workers": "min", "Line Workers": "min", "Female Workers":"min",  "Male Workers":"min","Migrant Workers":"min","Total Workers excluding immigrants":"min"  })
res11

,Total Workers,Line Workers,Female Workers,Male Workers,Migrant Workers,Total Workers excluding immigrants
Country,,,,,,
Argentina,21,17,30,-59,0,21
Bosnia,1998,1835,71,1927,0,1998
Brazil,44,22,39,2,0,44
Cambodia,30,23,0,-65,0,4
Canada,255,200,80,175,5,250
China,2,1,0,-57,0,-98
Egypt,265,206,20,206,0,265
El Salvador,373,311,0,313,0,373
France,13,9,62,-49,100,-87
Georgia,1142,1049,92,1045,0,1142
Guatemala,153,146,56,97,0,153
Honduras,950,800,21,915,0,949
India,28,21,0,28,0,28
Indonesia,37,20,6,-8,0,12
Israel,205,13,60,145,0,205
Italy,11,8,15,-80,0,-7
Japan,3,1,0,-53,0,-8
Jordan,590,442,53,510,34,556
Lithuania,310,258,91,219,2,308
Malaysia,621,344,15,568,71,539
Mexico,268,238,0,198,0,268
Moldova,392,313,95,297,0,392
Netherlands,31,23,42,-11,61,-30
Nicaragua,4634,4317,57,4577,0,4634
Pakistan,3915,3371,1,3898,0,3915
Philippines,184,152,40,140,0,184
South Africa,195,187,90,105,0,195
South Korea,11,1,0,-16,0,-9
Spain,16,13,50,-34,0,16
Sri Lanka,156,96,0,71,0,156
Taiwan,2,1,0,-86,0,-26
Thailand,2,1,1,1,0,-98
Turkey,74,66,43,9,0,74
USA,21,10,24,-58,0,21
United Kingdom,90,90,60,30,0,90
Vietnam,2,1,0,-49,0,-98

In [55]:
# # how many total workers in details (each region)
res12 = data.groupby("Region").agg({"Total Workers": "sum", "Line Workers": "sum", "Female Workers":"sum",  "Male Workers":"sum","Migrant Workers":"sum","Total Workers excluding immigrants":"sum"  })
res12

,Total Workers,Line Workers,Female Workers,Male Workers,Migrant Workers,Total Workers excluding immigrants
Region,,,,,,
AMERICAS,57598,46849,4138,53460,202,57396
EMEA,36521,28552,2985,33536,619,35902
N ASIA,155517,119820,11801,143716,1438,154079
S ASIA,420324,368124,5526,414798,513,419811
SE ASIA,576607,500825,13537,563070,1446,575161

In [57]:
# the maximum workers in details (each region)
res13 = data.groupby("Region").agg({"Total Workers": "max", "Line Workers": "max", "Female Workers":"max",  "Male Workers":"max","Migrant Workers":"max","Total Workers excluding immigrants":"max"  })
res13

,Total Workers,Line Workers,Female Workers,Male Workers,Migrant Workers,Total Workers excluding immigrants
Region,,,,,,
AMERICAS,5554,5084,95,5501,76,5554
EMEA,3925,3030,97,3896,100,3914
N ASIA,11136,9039,100,11047,100,11136
S ASIA,27904,24373,100,27817,99,27904
SE ASIA,29272,25978,98,29195,100,29272

In [59]:
# the minimum  workers in details (each region)
res14 = data.groupby("Region").agg({"Total Workers": "min", "Line Workers": "min", "Female Workers":"min","Migrant Workers":"min" })
res14

         Total Workers Line Workers Female Workers Migrant Workers
Region
AMERICAS            21           10              0               0
EMEA                11            8             15               0
N ASIA               2            1              0               0
S ASIA              28           20              0               0
SE ASIA              2            1              0               0

In [62]:
data.describe()

,Factory Name,Factory Type,Product Type,Brand,Events,Supplier Group,City,State,Country,Region,Total Workers,Line Workers,Female Workers,Migrant Workers,Male Workers,Total Workers excluding immigrants
count,636,636,636,636,636,636,635,636,636,636,636,636,636,636,636,636
unique,632,3,3,2,1,296,470,188,36,5,526,511,95,61,542,532
top,PT Victory Chingluh Indonesia,FINISHED GOODS,Apparel,Nike,Collegiate,FENG TAY,Phnom Penh,Guangdong,Vietnam,N ASIA,2,1,0,0,1,-98
freq,2,461,354,602,636,16,11,49,159,213,7,9,30,477,9,5